@{
   
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Shopping Basket Test</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
               
            </p>
        </div>
    </section>
}
@*<h3>Create this week's Grocery items and specials:</h3>
<h3>To Start Shopping press "start":</h3>*@


<p>
    @Html.ActionLink("Create this week's Grocery items and special", "Create")
</p>
<p>

</p>


<ol class="round">

</ol>
